/* TEST */
#conv {
   position: relative;
}

.message-date {
   position: absolute;
   top: 100px;
   right: 12%;
   width: 200px;
   background: lightpink;
}
[v-cloak] {
   display: none;
}
.preview-container {
   overflow-x: hidden;
}
.preview {
   overflow-x: hidden;
   text-overflow: ellipsis;
   white-space: nowrap;
   opacity: 0.6;
}

/* COMMON
   ======================= */

body {
   font-family: 'Roboto', sans-serif;
   font-size: 0.9rem;
   min-width: 700px;
}

.lr-standard-pad {
   padding-left: 10px;
   padding-right: 10px;
   padding-top: 10px;
   padding-bottom: 10px;
}

.shrinker {
   overflow-y: auto;
}

.main-wrapper {
   padding: 20px 10%;
   background: linear-gradient(to top, #d5dad8 85%, #069588 15%);
   height: 100vh;
}

/*    * sect-header
      -------------------- */

.sect-header {
   background-color: #eaeaea;
}

.sect-header img {
   height: 50px;
   width: auto;
}

.sect-header .actions i {
   color: #b9b9b9;
   font-size: 1.4rem;
   margin-left: 0.5rem
}

/*    -------------------- */

main {
   height: 100%;
}

input {
   width: 100%;
}

/* ======================= */

/* LEFT
   ======================= */

.left {
   width: 40%;
   background-color: white;
   border-right: 1px solid grey;
}

/*    * .get-nots
         -------------------- */

.get-nots {
   background-color: #8edafb;
}

.bell-icon {
   background-color: white;
   color: #8edafb;
   font-size: 1.2rem;
   padding: 10px;
}

.get-nots .text {
   padding-left: 10px;
}

.get-nots a {
   text-decoration: underline;
   font-size: 0.8rem;
   opacity: 0.4;
}

/*    -------------------- */

/*    *  .search
         -------------------- */

.search {
   background-color: #fafafa;
}
.search-input {
   color: #b9bcbe;
   background-color: white;
   box-shadow: rgba(0, 0, 0, 0.04) 0px 0px 4px 0px, rgba(0, 0, 0, 0.08) 0px 8px 16px 0px;
   border-radius: 5px;
}
.search input {
   padding: 3px;
   padding-left: 20px;
   font-size: 80%;
   border: none;
   outline: none;
}

/*    -------------------- */

/*    * .conv-list
         -------------------- */
     
.conv-list li:hover, .conv-list li.selected {
   background-color: #e9ebeb;
   cursor: pointer;
}
.conv-list li:nth-of-type(1n+2) {
   border-top: 1px solid lightgrey
}

.conv-list img {
   width: 40px;
}

/*    -------------------- */

/* ======================= */

/* RIGHT
   ======================= */

.right {
   width: 60%;
}

/*    * .conversation
      -------------------- */

.conversation {
   background-image: url('../img/mine.jpg');
   padding: 30px;
}

.conversation li {
   padding-top: 10px;
   padding-left: 5px;
   padding-bottom: 3px;
   padding-right: 3px;
   border-radius: 10px;
   width: 40%;
   margin-bottom: 20px;
   background: white;
   margin-left: 0
}

.conversation li.sent {
   background: #d5f9ba;
   margin-left: auto;


}

.date {
   font-size: 60%;
   opacity: 0.4;
   text-align: right;
}

/*    -------------------- */

/*    * send
      -------------------- */

.send {
   background: #f3eeea;
   font-size: 1.4rem
}
.send .grower {
   padding-left: 10px;
   padding-right: 10px;
}
.send input {
   padding: 0.7rem;
   border: none;
}

.send i {
   color: #6a7376;
}

/*    -------------------- */

/* ======================= */

/* TEMPLATE
   ======================= */

/*    * stuff
      -------------------- */

/*    -------------------- */

/* ======================= */