<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
    <link rel="stylesheet" href="css/my_frame.css">
    <link rel="stylesheet" href="css/style.css">
    <title>Document</title>
</head>

<body>
    <!-- VUE CONTAINER -->
    <div id="root">

        <!-- div.main-wrapper -->
        <div class="main-wrapper flexer col">

            <!-- MAIN -->
            <main class="flexer">

                <!-- div.left -->
                <div class="left flexer col">
                    <!-- div.left.sect-header -->
                    <div class="sect-header no-shrink flexer center-cross lr-standard-pad">
                        <div class="user-pic"><img src="img/avatar_io.jpg" alt="pic" class="rounded"></div>
                        <div class="user-name grower">
                            <p>Nome Utente</p>
                        </div>
                        <div class="actions">
                            <i class="fas fa-circle-notch"></i>
                            <i class="fas fa-comment-alt"></i>
                            <i class="fas fa-ellipsis-v"></i>
                        </div>
                    </div>
                    <!-- END div.left.sect-header -->

                    <!-- div.get-nots -->
                    <div class="get-nots no-shrink flexer center-cross lr-standard-pad">
                        <div class="bell-icon rounded">
                            <i class="fas fa-bell-slash"></i>
                        </div>
                        <div class="text">
                            <p>Ricevi notifiche di nuovi messaggi</p>
                            <a href="#">Attiva notifiche desktop</a>
                        </div>
                    </div>
                    <!-- END div.get-nots -->

                    <!-- div.search -->
                    <div class="search flexer center-cross lr-standard-pad">
                        <i class="fas fa-search"></i>
                        <input type="text" placeholder="Cerca o inizia nuova chat"
                            aria-label="Cerca o inizia nuova chat">
                    </div>
                    <!-- END div.search -->

                    <!-- ul.conv-list -->
                    <ul class="conv-list grower shrinker">
                        <li v-for="(item, index) in contacts" class="flexer lr-standard-pad"
                            :class="{selected: index  === activeConversation}" @click="showConversation(index)">
                            <img :src=`img/avatar${item.avatar}.jpg` alt="" class="rounded">
                            <span>{{ item.name }}</span>
                        </li>
                    </ul>
                    <!-- END ul.conv-list -->

                </div>
                <!-- END div.left -->

                <!-- div.right -->
                <div class="right flexer col">

                    <!-- div.sect-header -->
                    <div class="sect-header no-shrink flexer center-cross lr-standard-pad">
                        <div class="user-pic"><img :src=`img/avatar${contacts[activeConversation].avatar}.jpg` alt="pic"
                                class="rounded"></div>
                        <div class="user-name flexer-col grower">
                            <p>{{ contacts[activeConversation].name }}</p>
                            <p>Ultimo accesso oggi alle</p>
                        </div>
                        <div class="actions">
                            <i class="fas fa-search"></i>
                            <i class="fas fa-paperclip"></i>
                            <i class="fas fa-ellipsis-v"></i>
                        </div>
                    </div>
                    <!-- END div.sect-header -->

                    <!-- div.conversation -->
                    <div id="conv" class="conversation grower shrinker">
                        <ul>
                            <li v-for="item in contacts[activeConversation].messages" :class="{ sent: item.sent }">
                                <p>{{ item.text }}</p>
                                <p class="date">{{ item.date }}</p>
                            </li>
                        </ul>
                    </div>
                    <!-- END div.conversation -->

                    <!-- div.send -->
                    <div class="send flexer center-cross lr-standard-pad">
                        <i class="far fa-smile"></i>
                        <div class="grower">
                            <input name="" id="" placeholder="Scrivi un messaggio">
                        </div>
                        <div><i class="fas fa-microphone"></i></div>
                        
                    </div>
                    <!-- END div.send -->

                </div>
                <!-- END div.right -->

            </main>
            <!-- END MAIN -->

        </div>
        <!-- END div.main-wrapper -->

    </div>
    <!-- END VUE CONTAINER -->

    <!-- day.js -->
    <script src="https://unpkg.com/dayjs@1.8.21/dayjs.min.js"></script>
    <!-- vue.js -->
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <!-- local scripts -->
    <script src="js/script.js"></script>
</body>

</html>